:root{
    --lift-duration: 2s;
    --lift-distance: 0px;
}

body{
    background-color: rgb(114, 163, 129);
}

#Simulation{
    background-color: #c3bac6;
}

.inputOptions{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.EntryForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    font-weight: bolder;
}

label{
    font-weight:bolder;
}

#error{
    color: rgb(0, 0, 0);
    margin: 10px auto;
    font-weight: bold;
    font-size: 1.1em;
}

.lift-Controls{
  /* border: 1px solid red; */
    height: 100px;
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-shrink: 0;
    /* flex-wrap: wrap; */
}

button{
    width: 100%;
    cursor: pointer;
}

.up{
    background-color: #73BE73;
    border-radius: 15%;
    width: 50px;
    height: 30px;
}

.down{
    background-color: #FFC72C;
    border-radius: 15%;
    width: 50px;
    height: 30px;
}

button:disabled{
    cursor: default;
}

.floor-line{
    border :2px solid black;
    flex-grow: 1;
    width: auto;
}

.floor-line-container{
/*   border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

span{
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.lifts{
  /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* width: max-content; */
    height: 100px;
    /* flex-wrap: nowrap; */
    gap: 40px;  
    /* overflow: scroll; */
    /* max-width: 100%; */
    /* overflow-x: auto; */ /*lifts disappears in to the floor*
    /* flex-grow: 1; */
}

.lift{
    /* border: 1px solid red; */
    height: 100%;
    width: 50px;
    background-color: grey;
    transform: translateY(var(--lift-distance));
    transition: transform var(--lift-duration) linear;
    position: relative;
    /* overflow: hidden; */
}


.lift-structure{
  /* border: 1px solid red; */
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    gap: 70px;
    /* align-items: center; */
}

@keyframes move-lift {
    0%{
        transform: translateY(0); /* Start at the bottom */
    }

    100% {
        transform: translateY(-120px); /* Move back to the bottom */
    }
}

lift-animation{
    transform: translateY(var(--lift-distance));
    transition: transform var(--lift-duration) linear;
}

.left-door{
    left: 0;
}

.right-door{
    right: 0;
}

.door{
    width: 50%;
    height: 100%;
    background-color: rgb(17, 155, 202);
    position: absolute;
}

@keyframes openDoors {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes closeDoors {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .left-door.open {
    animation: openDoors 2.5s ease-in-out;
  }
  
  .right-door.open {
    animation: closeDoors 2.5s ease-in-out;
  }

  /* .lifts-wrapper{
    overflow-x: auto;
    flex-grow: 1;
    max-width: 100%;
  } */

  .floor-body{
    padding: 2px;
  }